extends ../layouts/admin-panel-layout.pug

block content

    .__my-card-container

        //- Titulo
        section#title.__my-title.text-center
            h1.big-title #{pageTitle}
            hr.__separator

        //- Tarjetas de colores
        section#admin-cards
            .row
                .col
                    .card.text-white.__bg-1.__my-card-admin
                        .__card-body
                            if status == 'searching'
                                h5.card-title Resultados
                                h1.card-text #{products.length}
                            else
                                h5.card-title Productos
                                h1.card-text #{products.length}

    .__my-card-container

        //- Productos
        section#products
            .__admin-list.text-center
                .container
                    h1.big-title Lista de productos
                    hr.__separator

                    section#products-list-actions
                        .row.no-gutters.align-items-center.__admin-list-options-row
                            
                            //- Agregar productos
                            .col.__add-btn
                                a.link.btn.btn-block.__my-btn(href="/admin/product-add") Agregar producto
                            
                            //- Buscar productos
                            .col
                                form(action="/admin/product-search")
                                    .input-group.__search-field
                                        input.form-control(type='search' placeholder='Buscar producto' name='search')
                                        span.input-group-btn
                                            button.btn.btn-outline-success.__my-btn(type='submit') <i class="fas fa-search __fa-search-icon"></i>
                            
                        .row.no-gutters.align-items-center.__admin-list-options-row
                            
                            //- Ordenar por
                            .col
                                .__form-container
                                    form.form-inline
                                        label.my-1.mr-2(for="inputOrder") Ordenar por
                                        select#inputOrder.custom-select.my-1.mr-sm-2
                                            option(selected value="1") Menor a mayor ID
                                            option(value="2") Mayor a menor ID
                                            option(value="3") Nombre
                                            option(value="4") Precio (menor a mayor)
                                            option(value="5") Precio (mayor a menor)
                                            option(value="6") Stock
                                            option(value="7") Marca
                                            option(value="8") Subcategoría
                                            option(value="9") Categoría
                            
                            //- Paginado
                            .col
                                nav(aria-label='Page navigation example')
                                    ul.pagination.justify-content-center.mb-0
                                        li.page-item
                                            a.page-link(href='#' aria-label='Previous')
                                                span(aria-hidden='true') &laquo;
                                        li.page-item
                                            a.page-link(href='#') 1
                                        li.page-item
                                            a.page-link(href='#') 2
                                        li.page-item
                                            a.page-link(href='#') 3
                                        li.page-item
                                            a.page-link(href='#' aria-label='Next')
                                                span(aria-hidden='true') &raquo;
                            
                            //- Mostrar
                            .col
                                .__form-container
                                    form.form-inline
                                        label.my-1.mr-2.ml-auto(for="inlineFormCustomSelectPref") Mostrar
                                        select.custom-select.my-1.mr-sm-2#inlineFormCustomSelectPref
                                            option(selected) 15
                                            option(value="1") 30

                    //- Lista
                    section#products-list
                        if products.length > 0 
                            .table-responsive-lg
                                table.table
                                    thead
                                        tr
                                            th(scope="col") ID
                                            th(scope="col") Nombre
                                            th(scope="col") Precio
                                            th(scope="col") Stock
                                            th(scope="col") Marca
                                            th(scope="col") Categoría
                                            th(scope="col") Subcategoría
                                            th(scope="col") Acción

                                    tbody#productTableBody
                                        each product in products
                                            tr
                                                th(scope="row") #{product.idProduct}
                                                td #{product.productName}
                                                td #{product.productPrice}
                                                td #{product.productStock}
                                                td #{product.brand.brandName}
                                                td #{product.category.categoryName}
                                                td #{product.subcategory.subcategoryName}

                                                td
                                                    .__table-forms
                                                        form.form-inline.ml-auto(action="/admin/product-edit/", method="get")
                                                            button.btn.btn-link.__btn-table(type="submit" name="id" value=product.idProduct) 
                                                                i.fas.fa-edit

                                                        form.form-inline.mr-auto(action="/admin/product-delete/", method="get")
                                                            button.btn.btn-link.__btn-table(type="submit" name="id" value=product.idProduct) 
                                                                i.fas.fa-trash-alt  
                        else
                            .__small-error-message No hay productos disponibles.
block scripts
    script(type='module' src="/js/sort-product.js")